﻿@model FearlessFangs.ViewModels.IncidentViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- HOME -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="account-pages" style="padding-top:50px;">
                        <div class="account-box">
                            <div class="account-logo-box" style="padding-top:50px;">
                                <h2 class="text-uppercase text-center">
                                    <a href="index.html" class="text-success">
                                        <span class=""><img src="~/assets/images/fearlessfangssmall.jpg" /></span>
                                    </a>
                                </h2>
                            </div>
                            <div class="account-content" style="padding-top:0px;">
                                <form class="form" action="#">
                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <label for="firstname">First Name</label>
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "firstname", @placeholder = "" })
                                        </div>
                                    </div>
                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <label for="lastname">Last Name</label>
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "lastname", @placeholder = "" })
                                        </div>
                                    </div>
                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <label for="firstname">Phone Number</label>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "phonenumber", @placeholder = "" })
                                        </div>
                                    </div>
                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <label for="firstname">Phone Number</label>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "phonenumber", @placeholder = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>State of Origin</label>
                                        <p class="text-muted m-b-15 font-14">
                                            Select the service provider to request information from.
                                        </p>
                                        @*@Html.DropDownListFor(m => m.StateOfIncident, new SelectList(Model.StatesOfIncident, "Id", "Name"), new { @class = "form-control required", @id = "", @required = "required" })*@
                                    </div>
                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <label for="firstname">Address of Incident</label>
                                            @Html.TextBoxFor(m => m.LocationOfIncident, new { @class = "form-control", @id = "location", @placeholder = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>End Date of Request</label>
                                        <p class="text-muted m-b-15 font-14">
                                            This specifies the date the service should end compiling the requested information.
                                        </p>
                                        <div class="input-group">
                                            @Html.EditorFor(m => m.DateOfIncident, new { htmlAttributes = new { @class = "form-control timepicker required", placeholder = "mm/dd/yyyy", @readonly = "true", @id = "datepicker-autoclose", @required = "required" } })
                                            <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
                                        </div><!-- input-group -->
                                        <label>The time the incident occured.</label>
                                        <div class="input-group clockpicker m-b-20">
                                            @Html.TextBoxFor(m => m.TimeOfIncident, new { @class = "form-control required", @type = "text", @required = "required" })
                                            <span class="input-group-addon"> <span class="mdi mdi-clock"></span> </span>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-20 row">
                                        <div class="col-12">
                                            <label for="firstname">Description of Incident</label>
                                            @Html.TextAreaFor(m => m.DescriptionOfIncident, new { @class = "form-control", @id = "location", @placeholder = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row text-center m-t-10">
                                        <div class="col-12">
                                            <button class="btn btn-md btn-block btn-primary waves-effect waves-light" type="submit">Sign In</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end card-box-->


                </div>
                <!-- end wrapper -->

            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/theme/metisMenu.min.js"></script>
<script src="~/Scripts/theme/bootstrap-timepicker.js"></script>
<script src="~/Scripts/theme/bootstrap-colorpicker.min.js"></script>
<script src="~/Scripts/theme/jquery.slimscroll.js"></script>
<script src="~/Scripts/theme/moment.js"></script>
<script src="~/Scripts/theme/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/theme/bootstrap-clockpicker.min.js"></script>
<script src="~/Scripts/theme/daterangepicker.js"></script>
<script src="~/Scripts/theme/jquery.form-pickers.init.js"></script>
<script src="~/Scripts/theme/jquery.core.js"></script>
<script src="~/Scripts/theme/jquery.app.js"></script>