﻿@using BotDetect.Web.Mvc;
@model FearlessFangs.ViewModels.ValidationViewModel
@{
    ViewBag.Title = "ValidateUser";
}
<!-- HOME -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="account-pages" style="padding-top:50px;">
                        <div class="account-box">
                            <div class="account-logo-box" style="padding-top:5px;">
                                <h2 class="text-uppercase text-center">
                                    <a href="index.html" class="text-success">
                                        <span class=""><img src="~/assets/images/fearlessfangssmall.jpg" /></span>
                                    </a>
                                </h2>
                            </div>
                            <div class="account-content" style="padding-top:0px;">
                                @*<h4>To ensure that users of this portal are real, all users are required to fill the captcha form below.</h4>*@
                                @using (Html.BeginForm("ValidateUser", "Home", FormMethod.Post, new { @class = "column", role = "form" }))
                                {
                                    <fieldset>
                                        <div class="card-box ribbon-box">
                                            <div class="ribbon ribbon-success">Info</div>
                                            <p class="m-b-0">To ensure that users of this portal are real and authentic, you are required to follow the instructions below.</p>
                                        </div>
                                        @*<legend>To ensure that users of this portal are real and authentic, you are required to follow the instructions below.</legend>*@
                                        <div>
                                            @Html.Label("CaptchaCode", "Retype the code from the picture:")
                                            @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                                                exampleCaptcha.UserInputID = "CaptchaCode"; }
                                            @Html.Captcha(exampleCaptcha)
                                        </div>
                                        <div class="actions">
                                            @Html.TextBoxFor(m => m.CaptchaCode, new { @name = "CaptchaCode", @id = "CaptchaCode", @type = "text" })
                                            <input type="submit" value="Validate" />
                                        </div>
                                        <span class="label label-warning">
                                            @Html.ValidationMessage("CaptchaCode")
                                        </span>
                                    </fieldset>
                                                }
                            </div>
                        </div>
                    </div>
                    <!-- end card-box-->


                </div>
                <!-- end wrapper -->

            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
