﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Adminox - Responsive Web App Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/theme/bootstrap-timepicker.min.css" rel="stylesheet" />

    <!-- C3 charts css -->
    <link href="~/Content/theme/c3.min.css" rel="stylesheet" />

    <!-- App css -->
    <link href="~/Content/theme/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/theme/icons.css" rel="stylesheet" />
    <link href="~/Content/theme/metismenu.min.css" rel="stylesheet" />
    <link href="~/Content/theme/style.css" rel="stylesheet" />
    <script src="~/Content/theme/modernizr.min.js"></script>

    <link href="~/Content/theme/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/theme/bootstrap-clockpicker.min.css" rel="stylesheet" />

    @*Captcha reference*@
    <link href="@Url.Content("~/Style/Sheet.css")" rel="stylesheet" type="text/css" />
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left" style="padding-top:70px; width:50px;">
                @*<a href="index.html" class="logo">
                    <span>
                        <img src="~/assets/images/nsalogo-png-big.png" height="120" />
                    </span>
                    <i>
                        <img src="assets/images/logo_sm.png" alt="" height="28">
                    </i>
                </a>*@
            </div>

            <nav class="navbar-custom">
                <a href="index.html" class="logo navbar-custom-logo">
                    <span>
                        <img src="~/assets/images/nsalogo-png-big.png" height="120" />
                    </span>
                    <i>
                        <img src="assets/images/logo_sm.png" alt="" height="28">
                    </i>
                </a>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu" style="width:50px;">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            @RenderBody()
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/theme/jquery.min.js"></script>
        <script src="~/Scripts/theme/tether.min.js"></script>
        <script src="~/Scripts/theme/bootstrap.min.js"></script>
        <script src="~/Scripts/theme/bootstrap-timepicker.js"></script>
        <script src="~/Scripts/theme/bootstrap-colorpicker.min.js"></script>
        <script src="~/Scripts/theme/bootstrap-datepicker.min.js"></script>
        <script src="~/Scripts/theme/bootstrap-clockpicker.min.js"></script>
        <script src="~/Scripts/theme/daterangepicker.js"></script>
        <script src="~/Scripts/theme/metisMenu.min.js"></script>
        <script src="~/Scripts/theme/waves.js"></script>
        <script src="~/Scripts/theme/jquery.slimscroll.js"></script>
        <script src="~/Scripts/theme/jquery.core.js"></script>
        <script src="~/Scripts/theme/jquery.app.js"></script>
        <script src="~/Scripts/theme/c3.min.js"></script>
        <script src="~/Scripts/theme/d3.min.js"></script>
        <script src="~/Scripts/theme/echarts-all.js"></script>
        <script src="~/Scripts/theme/jquery.counterup.min.js"></script>
        <script src="~/Scripts/theme/jquery.dashboard.js"></script>

        <script src="~/Scripts/theme/jquery.waypoints.min.js"></script>
</body>
</html>
